@model SupermarketApp.ViewModels.ProductVM

@{
    ViewData["Title"] = "Edit";
}

    <div class="col-sm-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h1>Edit</h1>

            </div>
            <div class="card-body">
                <div>
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" class="form-control" />

                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UnitPrice" class="control-label"></label>
                            <input asp-for="UnitPrice" class="form-control" />
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UnitsInStock" class="control-label"></label>
                            <input asp-for="UnitsInStock" class="form-control" />
                            <span asp-validation-for="UnitsInStock" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PictureContainer" class="control-label"></label>
                            <div class="col-sm-12">
                                <div class="custom-file">
                                    <input asp-for="PictureContainer" class="form-control custom-file-input" />
                                    <label class="custom-file-label">Click here to change image</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="DeleteOldPicture" /> @Html.DisplayNameFor(model => model.DeleteOldPicture)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-footer">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
