@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Supermarket App</h1>
</div>
<hr />
<div class="text-justify">
    Sir please login with the following details:
    <p><strong>Username: </strong>superadmin</p>
    <p><strong>Password: </strong>Elvis1$</p>
    <hr />
    <p>
        In my app, it is only the superadmin with the above login credentials that can create new users because of security reasons.
        The new users will then be assigned the role of a sales rep so that they can attend to customers
    </p>
    <p>
        To create new users, login with the above details, Go to the Admin Setup menu, and select Create Sales Rep
    </p>
    <p>
        Before you can make sales/place orders, you will have to sign in as a sales rep using the credentials below:
        <p><strong>Username: </strong>elvis</p>
        <p><strong>Password: </strong>Elvis1$</p>
        <p>Or you can create a new user and sign in with the new user</p>
    </p>
</div>
